# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/
dist/
out/

# Ignore log files
*.log

# Ignore environment configuration files
.env

# Ignore macOS system files
.DS_Store

# Ignore Visual Studio Code settings
.vscode/

# Ignore IntelliJ IDEA settings
.idea/

# Ignore npm debugging logs
npm-debug.log
